---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const allProjects = await getCollection("projects");
  const uniqueTags: any = [
    ...new Set(allProjects.map((project: any) => project.data.tags).flat()),
  ];
  return uniqueTags.map((tag: any) => {
    const filteredProjects = allProjects.filter((project: any) =>
      project.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { projects: filteredProjects },
    };
  });
}

const { tag } = Astro.params;
const { projects } = Astro.props as { projects: any[] };
---

<Layout title={tag}>
  <section class="p-6 lg:p-12 xl:p-16 my-8" id="related-tag-section">
    <p class="mb-4 text-xl max-w-[54ch] text-balance">
      You can find my work by the tags associated to each project. Maybe not the
      most useful thing but it was fun to build, can you blame me? 🤷🤓
    </p>
    <p class="mb-8">Projects tagged with {tag}</p>
    <ul>
      {
        projects.map((project) => (
          <li>
            <a
              href={`../../projects/${project.slug}/`}
              class="font-semibold hover:underline"
            >
              {project.data.title}
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
