---
import Layout from "../layouts/Layout.astro";
import ProjectNav from "../components/ProjectNav.astro";
import AboutComponent from "../components/AboutComponent.astro";
const headline = "Selected work by Product Designer & Developer, Travis Hall.";
---

<Layout title={`Welcome to Travis Hall dot Design. ${headline}`}>
  <h1
    class="font-heading text-4xl md:text-5xl lg:text-6xl xl:text-7xl 2xl:text-8xl 3xl:text-9xl text-balance p-6 lg:p-12 xl:p-16 my-8 transition-fade"
  >
    {headline}
  </h1>
  <ProjectNav />
  <AboutComponent />
</Layout>
