---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import SiteHeader from "../components/SiteHeader.astro";
import ProjectNav from "../components/ProjectNav.astro";
import SiteFooter from "../components/SiteFooter.astro";
const headline = "Selected work by Product Designer & Developer, Travis Hall.";
---

<Layout title={`Welcome to Travis Hall dot Design. ${headline}`}>
  <main>
    <SiteHeader />
    <h1
      class="font-heading text-4xl md:text-5xl lg:text-6xl xl:text-7xl 2xl:text-8xl 3xl:text-9xl text-balance p-2 md:p-6 lg:p-12 xl:p-16 my-8"
    >
      {headline}
    </h1>
    <ProjectNav />
  </main>
  <SiteFooter />
</Layout>

<style></style>
