---
import Layout from "../layouts/Layout.astro";
import ProjectNav from "../components/ProjectNav.astro";
const headline = "Selected work by Product Designer & Developer, Travis Hall.";

import Button from "../components/Button.astro";
---

<Layout title={`Welcome to Travis Hall dot Design. ${headline}`}>
  <h1
    class="font-heading font-medium text-4xl md:text-5xl lg:text-6xl xl:text-7xl 2xl:text-8xl 3xl:text-9xl text-balance p-6 lg:p-12 xl:p-16 my-8"
  >
    {headline}
  </h1>
  <ProjectNav />
</Layout>
