---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import ThemeToggle from "../components/ThemeToggle.astro";
const currentYear = new Date().getFullYear();
---

<Layout title="Welcome to Travis Hall dot Design.">
  <main>
    <a
      href="#0"
      class="mx-16 my-8 inline-flex flex-row gap-2 font-semibold hover:font-black transition-all"
    >
      <!-- <Icon name="logo" class="w-8 h-auto" /> -->
      <span class="text-sm py-1">travishall.design</span>
    </a>
    <section class="p-16 my-8">
      <h1
        class="font-heading text-5xl md:text-6xl lg:text-7xl xl:text-8xl 2xl:text-9xl text-balance"
      >
        <!-- Online portfolio of Product Designer & Developer, Travis Hall. -->
        Selected work by Product Designer & Developer, Travis Hall.
        <!-- Design & Development work by Travis Hall -->
      </h1>
    </section>
    <section class="p-16 my-8">
      <nav class="project-navigation">
        <ul class="project-list">
          <li class="project-item py-4 my-4 border-b border-b-stone-950" id="">
            <div
              class="project-label flex flex-col md:flex-row justify-between items-end"
            >
              <h2 class="font-heading text-3xl xl:text-5xl text-balance p-2">
                <span class="text-sm">01</span>
                Project Label
              </h2>
              <div class="project-types p-4">
                <a href="#0" class="tag p-2">Site Design</a>
                <a href="#0" class="tag p-2">Front End Development</a>
              </div>
            </div>
            <div class="project-showcase"></div>
          </li>
          <li class="project-item py-4 my-4 border-b border-b-stone-950" id="">
            <div
              class="project-label flex flex-col md:flex-row justify-between items-end"
            >
              <h2 class="font-heading text-3xl xl:text-5xl text-balance p-2">
                <span class="text-sm">01</span>
                Project Label
              </h2>
              <div class="project-types p-4">
                <a href="#0" class="tag p-2">Site Design</a>
                <a href="#0" class="tag p-2">Front End Development</a>
              </div>
            </div>
            <div class="project-showcase"></div>
          </li>
          <li class="project-item py-4 my-4 border-b border-b-stone-950" id="">
            <div
              class="project-label flex flex-col md:flex-row justify-between items-end"
            >
              <h2 class="font-heading text-3xl xl:text-5xl text-balance p-2">
                <span class="text-sm">01</span>
                Project Label
              </h2>
              <div class="project-types p-4">
                <a href="#0" class="tag p-2">Site Design</a>
                <a href="#0" class="tag p-2">Front End Development</a>
              </div>
            </div>
            <div class="project-showcase"></div>
          </li>
          <li class="project-item py-4 my-4 border-b border-b-stone-950" id="">
            <div
              class="project-label flex flex-col md:flex-row justify-between items-end"
            >
              <h2 class="font-heading text-3xl xl:text-5xl text-balance p-2">
                <span class="text-sm">01</span>
                Project Label
              </h2>
              <div class="project-types p-4">
                <a href="#0" class="tag p-2">Site Design</a>
                <a href="#0" class="tag p-2">Front End Development</a>
              </div>
            </div>
            <div class="project-showcase"></div>
          </li>
          <li class="project-item py-4 my-4 border-b border-b-stone-950" id="">
            <div
              class="project-label flex flex-col md:flex-row justify-between items-end"
            >
              <h2 class="font-heading text-3xl xl:text-5xl text-balance p-2">
                <span class="text-sm">01</span>
                Project Label
              </h2>
              <div class="project-types p-4">
                <a href="#0" class="tag p-2">Site Design</a>
                <a href="#0" class="tag p-2">Front End Development</a>
              </div>
            </div>
            <div class="project-showcase"></div>
          </li>
          <li class="project-item py-4 my-4 border-b border-b-stone-950" id="">
            <div
              class="project-label flex flex-col md:flex-row justify-between items-end"
            >
              <h2 class="font-heading text-3xl xl:text-5xl text-balance p-2">
                <span class="text-sm">01</span>
                Project Label
              </h2>
              <div class="project-types p-4">
                <a href="#0" class="tag p-2">Site Design</a>
                <a href="#0" class="tag p-2">Front End Development</a>
              </div>
            </div>
            <div class="project-showcase"></div>
          </li>
          <li class="project-item py-4 my-4 border-b border-b-stone-950" id="">
            <div
              class="project-label flex flex-col md:flex-row justify-between items-end"
            >
              <h2 class="font-heading text-3xl xl:text-5xl text-balance p-2">
                <span class="text-sm">01</span>
                Project Label
              </h2>
              <div class="project-types p-4">
                <a href="#0" class="tag p-2">Site Design</a>
                <a href="#0" class="tag p-2">Front End Development</a>
              </div>
            </div>
            <div class="project-showcase"></div>
          </li>
        </ul>
      </nav>
    </section>
    <footer
      class="site-footer p-16 mt-8 flex flex-col items-center md:flex-row md:justify-between"
    >
      <ul class="footer-utilities flex md:flex-row gap-4 xl:gap-8">
        <li class="footer-utility-item p-2">
          <a
            href="#0"
            class="footer-utility-links inline-flex flex-row gap-1 items-center text-sm lowercase"
          >
            <Icon name="linkedin" class="h-5 w-5" />
            LinkedIn
          </a>
        </li>
        <li class="footer-utility-item p-2">
          <a
            href="#0"
            class="footer-utility-links inline-flex flex-row gap-1 items-center text-sm lowercase"
          >
            <Icon name="instagram" class="h-5 w-5" />
            Instagram
          </a>
        </li>
        <li class="footer-utility-item p-2">
          <a
            href="#0"
            class="footer-utility-links inline-flex flex-row gap-1 items-center text-sm lowercase"
          >
            <Icon name="mailbox" class="h-5 w-5" />
            hello@travishall.design
          </a>
        </li>
        <li>
          <ThemeToggle />
        </li>
      </ul>
      <small class="text-xs"
        >&copy;{currentYear} Travis Hall Design, all rights reserved</small
      >
    </footer>
  </main>
</Layout>

<style></style>
