---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Welcome to Travis Hall dot Design.">
  <main>
    <Icon name="Logo" />
    <section class="p-16">
      <h1
        class="font-heading font-regular text-5xl md:text-6xl lg:text-7xl xl:text-8xl 2xl:text-9xl text-balance"
      >
        Selected works by Product Designer & Developer, Travis Hall.
      </h1>
    </section>
    <!-- <section class="p-8">
      <h1
        class="font-heading font-medium text-5xl md:text-6xl lg:text-7xl xl:text-8xl 2xl:text-9xl mb-12"
      >
        Typography
      </h1>
      <h1
        class="font-heading font-black text-5xl md:text-6xl lg:text-7xl xl:text-8xl 2xl:text-9xl mb-4"
      >
        Heading Level One: 5xl - 9xl Text
      </h1>
      <h2
        class="font-heading font-black text-4xl md:text-5xl lg:text-6xl xl:text-7xl 2xl:text-8xl mb-4"
      >
        Heading Level Two: 4xl - 8xl Text
      </h2>
      <h3
        class="font-heading font-black text-3xl md:text-4xl lg:text-5xl xl:text-6xl 2xl:text-7xl mb-4"
      >
        Heading Level Three: 3xl - 7xl Text
      </h3>
      <h4
        class="font-heading font-black text-2xl md:text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl mb-4"
      >
        Heading Level Four: 2xl - 6xl Text
      </h4>
      <h5
        class="font-heading font-black text-xl md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl mb-4"
      >
        Heading Level Five: xl - 5xl Text
      </h5>
      <h6
        class="font-heading font-black text-lg md:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl mb-4"
      >
        Heading Level Six: lg - 4xl Text
      </h6>
      <p class="text-base mb-4">
        Paragraph text. Etiam porta sem malesuada magna mollis euismod. Morbi
        leo risus, porta ac consectetur ac, vestibulum at eros.
      </p>
    </section> -->
  </main>
</Layout>

<style></style>
