---
import { Icon } from "astro-icon/components";
import ThemeToggle from "./ThemeToggle.astro";
---

<header class="site-header w-full flex flex-row items-center justify-between">
  <a
    href="/thdesign"
    class="mx-6 lg:mx-12 xl:mx-16 my-8 inline-flex flex-row gap-2 items-center font-semibold hover:font-black transition-all"
  >
    <Icon name="logo" class="w-16 md:w-12 lg:w-8 h-auto transition-all" />
    <span class="text-sm py-1 hidden lg:inline-block">travishall.design</span>
  </a>
  <div class="header-menu p-6 lg:p-8 xl:p-12">
    <ThemeToggle />
  </div>
</header>
