---
import { Icon } from "astro-icon/components";
---

<header class="site-header">
  <a
    href="#0"
    class="mx-2 md:mx-6 lg:mx-12 xl:mx-16 my-8 inline-flex flex-row gap-2 items-center font-semibold hover:font-black transition-all"
  >
    <Icon name="logo" class="w-16 md:w-12 lg:w-8 h-auto transition-all" />
    <span class="text-sm py-1">travishall.design</span>
  </a>
</header>
