---
import { Icon } from "astro-icon/components";
import { ThemeSwitch } from "astro-color-scheme";
---

<ThemeSwitch strategy="button" defaultTheme="system">
  <button>
    <span class="sr-only">Toggle Theme</span>
    <Icon class="dark:hidden fill-stone-900 h-6 w-6" name="uil:sunset" />
    <Icon class="hidden dark:block fill-stone-50 h-6 w-6" name="uil:moonset" />
  </button>
</ThemeSwitch>
