---
import { Icon } from "astro-icon/components";
---

<button id="themeToggle">
  <span class="sr-only">Toggle Theme</span>
  <Icon class="dark:hidden text-teal-950 h-6 w-6" name="uil:sunset" />
  <Icon class="hidden dark:block text-white h-6 w-6" name="uil:moonset" />
</button>

<script>
  document.addEventListener("astro:page-load", () => {
    const theme = (() => {
      if (
        typeof localStorage !== "undefined" &&
        localStorage.getItem("theme")
      ) {
        return localStorage.getItem("theme");
      }
      if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
        return "dark";
      }
      return "light";
    })();

    const element = document.documentElement;
    element.setAttribute("data-theme", theme);
    element.classList.toggle("dark", theme === "dark");
    element.classList.toggle("light", theme === "light");
    localStorage.setItem("theme", theme);

    const handleToggleClick = () => {
      const currentTheme = element.getAttribute("data-theme") || "light";
      const newTheme = currentTheme === "dark" ? "light" : "dark";
      element.setAttribute("data-theme", newTheme);
      element.classList.toggle("dark", newTheme === "dark");
      element.classList.toggle("light", newTheme === "light");
      localStorage.setItem("theme", newTheme);
    };

    const themeToggleButton = document.getElementById("themeToggle");
    if (themeToggleButton) {
      themeToggleButton.addEventListener("click", handleToggleClick);
    }
  });

  document.addEventListener("astro:after-swap", () => {
    const theme = localStorage.getItem("theme") || "light";
    const element = document.documentElement;
    element.setAttribute("data-theme", theme);
    element.classList.toggle("dark", theme === "dark");
    element.classList.toggle("light", theme === "light");
  });
</script>
