---
import Themes from "astro-themes";
import SiteHeader from "../components/SiteHeader.astro";
import SiteFooter from "../components/SiteFooter.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/thdesign/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <Themes />
  </head>
  <body class="bg-zinc-50 dark:bg-zinc-900 text-teal-950 dark:text-white">
    <SiteHeader />
    <main id="swup">
      <slot />
    </main>
    <SiteFooter class="transition-fade" />
    <style is:global>
      @font-face {
        font-family: "Nohemi";
        font-style: normal;
        font-weight: 100 900;
        font-display: swap;
        src: url(/thdesign/fonts/Nohemi-VF.woff2) format("woff2");
      }
      @font-face {
        font-family: "Manrope";
        font-style: normal;
        font-weight: 200 800;
        font-display: swap;
        src: url(/thdesign/fonts/Manrope.woff2) format("woff2");
      }
      html {
        min-height: 100dvh;
        scroll-behavior: smooth;
      }

      html.is-changing .transition-fade {
        transition: 0.4s;
        opacity: 1;
      }
      html.is-animating .transition-fade {
        opacity: 0;
      }

      body {
        --swup-overlay-theme-color: #063b3a;
        --swup-overlay-theme-duration: 0.4s;
        --swup-overlay-theme-delay: 0.2s;
        --swup-overlay-theme-scale: 1.2;
        --swup-overlay-theme-skew: 3deg;
      }

      /* .swup-transition-overlay {
        background: linear-gradient(
          45deg,
          rgb(131, 58, 180),
          rgb(253, 29, 29),
          rgb(252, 176, 69)
        );
      } */
    </style>
  </body>
</html>
