---
import ViewTransitions from "astro/components/ViewTransitions.astro";
import SiteHeader from "../components/SiteHeader.astro";
import SiteFooter from "../components/SiteFooter.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/thdesign/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!-- <ViewTransitions /> -->
  </head>
  <body class="bg-zinc-50 dark:bg-zinc-900">
    <SiteHeader />
    <main id="main">
      <slot />
    </main>
    <SiteFooter />
    <style is:global>
      @font-face {
        font-family: "Nohemi";
        font-style: normal;
        font-weight: 100 900;
        font-display: swap;
        src: url(/thdesign/fonts/Nohemi-VF.woff2) format("woff2");
      }
      @font-face {
        font-family: "Manrope";
        font-style: normal;
        font-weight: 200 800;
        font-display: swap;
        src: url(/thdesign/fonts/Manrope.woff2) format("woff2");
      }
      html {
        min-height: 100dvh;
        scroll-behavior: smooth;
      }
    </style>
  </body>
</html>
