---
import Layout from "../layouts/Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <h1
    class="font-heading text-teal-950 dark:text-white text-4xl md:text-5xl lg:text-6xl xl:text-7xl 2xl:text-8xl 3xl:text-9xl text-balance p-6 lg:p-12 xl:p-16 my-8"
  >
    {frontmatter.title}
  </h1>
  <section class="about-me p-6 lg:p-12 xl:p-16 my-8">
    <ul class="flex flex-row flex-wrap gap-1 mb-8">
      {
        frontmatter.tags.map((tag: any) => (
          <a
            href={`/thdesign/tags/${tag}`}
            class="text-xs p-2 text-amber-950 dark:text-white bg-white/5 dark:bg-teal-500/5 hover:bg-amber-500/10 dark:hover:bg-white/20 border-amber-950 dark:border-white border rounded-full text-nowrap inline-block hover:scale-105 transition-all"
          >
            {tag}
          </a>
        ))
      }
    </ul>
    <slot />
  </section>
</Layout>
